main{
  display: flex;
  margin: 0 auto;
  padding-top: 50px;
  max-width: 1264px;
  width: 100%;
}

aside{
  width: 164px;
  height: 100%;
}

@media (max-width:980px){

}

@media (max-width:640px){
  aside{
  display: none;
 }
}